DATABASE_URL=
JWT_SECRET_KEY="test"

BACKEND_CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]

# LLM initial config, input at least one of the (GEMINI, OPENAI, AZURE OPENAI)
# GEMINI Settings (Optional)
GEMINI_MODEL_NAME="gemini-2.5-flash"
GEMINI_API_KEY=

# OPENAI Settings (Optional)
OPENAI_MODEL_NAME="gpt-5-mini"
OPENAI_API_KEY=

# AZURE OPENAI Settings (Optional)
AZUREAI_MODEL_NAME="gpt-5-mini"
AZUREAI_API_KEY=
AZUREAI_ENDPOINT=
AZURE_API_VERSION="2024-12-01-preview"
